@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
body {
  background-color: #26bb98;
}
h1 {
  padding: 50px;
  margin: 0px;
  margin: 0px;
  text-align: center;
  font-family: "Galmuri11";
  font-weight: 700;
  background-color: #bb2649;
  font-size: 50px;
  color: white;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
.par {
  position: relative;
  /* width: 1300px;
  margin: 0 auto; */
}
.star {
  position: absolute;
  top: 10px;
  right: 10px;
}
.star2 {
  position: absolute;
  top: 10px;
  left: 10px;
}
.star3 {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.star4 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.slot {
  padding: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#grid {
  display: grid;
  grid-template-columns: 130px 1fr 130px;
}
