@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
body {
  background-color: #26bb98;
  background-image: url("slotmachine2.png");
  background-position: center;
  background-repeat: no-repeat;
}
h1 {
  padding: 50px;
  margin: 0px;
  text-align: center;
  font-family: "Galmuri11";
  font-weight: 700;
  background-color: #bb2649;
  font-size: 50px;
  color: white;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  line-height: 50pt;
}
.par {
  position: relative;
}
.star_topright {
  position: absolute;
  top: 10px;
  right: 10px;
}
.star_topleft {
  position: absolute;
  top: 10px;
  left: 10px;
}
.star_bottomright {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.star_bottomleft {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.slot {
  padding: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
